.past-papers{
    background-image: url('../images/second.jpeg');
    color: white;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    overflow-x: hidden;
}


.subjects .link{
    text-decoration: none;
    color:black;
    font-size: large;
    letter-spacing: 0.15cap;    
}


.subjects .link:hover{
    color: royalblue;
    font-size: larger;
    transition-delay: 0.5s;
    transition: all;
}

.subject-container{
    background-color: aqua;
    display: inline-block;
    padding: 5px;
    border-radius: 10px;
    z-index: 1000;
    border: 0.1cap solid black;
    margin-top: 3%;
}

.subject-container:hover{
    padding:8px ;
    transition:linear ;
    transition-duration: .2s;
}